@import url('fonts/OpenSans/OpenSans.css');
@import url('fonts/FiraCode/FiraCode.css');


* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  background-color: #eee;
  font-weight:  300;
}
b, strong, th {
  font-weight: 600;
}
input, textarea, select, button {
  font:  inherit;
  font-size: 75%;
}
input[type=date], input[type=time] {
  font-family: "Fira Code","Times New Roman",monospace,sans-serif;
  font-weight: 300;
}
.optionRow {
  margin-bottom: 1.0em;
}
.optionLabel {
  width: 150px;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
}
.timezoneName {
  min-width: 150px;
  font-size: 0.75em;
}
.optionValues {
  display: inline-block;
  vertical-align: top;
}
.optionValues label {
  display: block;
}
input[type=text], select {
  width: 300px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

#planning_results .row .label {
  display: inline-block;
  width: 400px;
}
#planning_results .row .value {
  display: inline-block;
}
